@font-face {
  font-family: "Museo";
  src: url("../fonts/MuseoSans_700.otf");
  font-display: swap;
}
.slogan {
  margin: calc(2.5rem - 0.14285714em ) 0em 1.5rem;
  font-family: Museo;
}

.ui.button {
  background-color: #76bc21;
  color: white;
}

.ui.button.btn-reverse {
  background-color: white;
  color: #76bc21;
}

.reverse {
  background-color: #76bc21 !important;
  color: white;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background-color: #76bc21;
  color: white;
}

.ui.secondary.inverted.pointing.menu {
  border: none;
}

.ui .button.buy {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  background-color: #FFD814;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  border-color: #D5D9D9;
  border-width: 1px;
  border-color: #a88734 #9c7e31 #846a29;
  border-style: solid;
  padding: 8px 12px 8px 12px;
  font-weight: normal;
}
.ui .button.buy:hover {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}
.ui .button.white {
  background-color: white;
  color: black;
}

.footer.segment {
  padding: 3em 0em;
  background-color: black !important;
}
.footer.segment a {
  color: #76bc21;
}
.footer.segment a:hover {
  color: white;
}
.footer.segment a:hover i {
  color: white;
}
.footer.segment i {
  color: #76bc21;
}

.masthead {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.masthead h2 {
  text-transform: uppercase;
  font-size: 2em;
}
.masthead .menu-container {
  position: absolute;
  top: 50px;
  min-width: 75%;
}
.masthead img {
  max-width: 100%;
}
@media (max-width: 700px) {
  .masthead {
    display: block;
  }
  .masthead .menu-container {
    position: initial;
  }
}

/*# sourceMappingURL=custom.css.map */
