$iteknia: #76bc21;

@font-face {
    font-family: "Museo";
	src: url("../fonts/MuseoSans_700.otf");
	font-display: swap;
}

.slogan {
    margin: calc(2.5rem -  0.14285714em ) 0em 1.5rem;
    font-family: Museo;
}

.ui.button {
    background-color: $iteknia;
    color: white;
}

.ui.button.btn-reverse {
    background-color: white;
    color: $iteknia;
}

.reverse {
    background-color: $iteknia !important;
    color: white;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background-color: $iteknia;
    color: white;
}
.ui.secondary.inverted.pointing.menu {
    border: none;
}

.ui {
    .button {

        &.buy {
            background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
            background-color: #FFD814;
            color: black;
            border-radius: 8px;
            box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
            border-color: #D5D9D9;
            border-width: 1px;
            border-color: #a88734 #9c7e31 #846a29;
            border-style: solid;
            padding: 8px 12px 8px 12px;
            font-weight: normal;

            &:hover {
                background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
            }

        }

        &.white {
            background-color: white;
            color: black;
        }
    }
}

.footer.segment {
    padding: 3em 0em;
    background-color: black !important;

    a {
        color: $iteknia;

        &:hover {
            color: white;
        }
    }
    a {
        &:hover {
            i {
                color: white;
            }
        }
    }
    i {
        color: $iteknia;
    }
}

.masthead {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h2 {
        text-transform: uppercase;
        font-size: 2em;
    }

    .menu-container {
        position: absolute;
        // right: 100px;
        top: 50px;
        min-width: 75%;
    }

    img {
        max-width: 100%;
    }

    @media ( max-width: 700px ) {
        display: block;

        .menu-container {
            position: initial;
        }
        img {
            // padding: 25px;
        }
    }
}
